* {margin: 0; padding: 0;}

h1 {font-size: 46px; font-family: "Exo", serif; text-transform: uppercase; line-height: 48px;}

h2 {font-size: 46px; font-family: "Exo", serif; text-transform: uppercase; line-height: 48px;}

h3 {font-size: 19px; font-family: "Exo", serif;}

p {font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 200;}

@media(max-width: 992px){
    h1 {font-size: 40px}
    h2 {font-size: 40px}
    h3 {font-size: 16px;}
    p {font-size: 15px;}
}

.d-flex {display: flex;}

.blue {color: #006EB7}

.grey {color: #151515;}

.light-grey {color: #848484}

.white-bg {background-color: white;}

.blue-bg {background-color: #006EB7;}

.grey-bg {background-color: #151515;}

.container {margin: auto; max-width: 1200px; width: 80%;}

.row {display: flex;}

span.line {width: 23px; height: 4px; display: block; border-radius: 1px;}

/* header section */

.header-section .row {justify-content: center;}

.header-section img {margin: auto; width: 280px; padding-top: 72px; padding-bottom: 58px }

/* header section */

/* form section */

.banner-form-section {background: url('https://49171599.fs1.hubspotusercontent-na1.net/hubfs/49171599/Landing%20suscripcion%20newsletter/Group%20395.jpg'); background-size: cover; background-position: 100% 20%;}

.banner-form-section h1 {margin-bottom: 15px}

.banner-form-section .row {flex-wrap: wrap;padding: 60px 0}

.banner-form-section .row .first-col .texts {max-width: 400px;}

.banner-form-section .row .first-col .texts p {color: #d3d3d3;}

.banner-form-section span {margin-bottom: 25px;}

.banner-form-section .row .col {width: 50%; color: white;}

.banner-form-section .form-wrapper {    background-image: url(https://49171599.fs1.hubspotusercontent-na1.net/hubfs/49171599/Landing%20suscripcion%20newsletter/Group%20389.png);
    background-repeat: no-repeat;
    background-position: 130% 123%;}

.banner-form-section .form-wrapper h3 {color: black; font-weight: 500; margin-bottom: 20px; }

.banner-form-section .form-wrapper {padding: 40px 20px; border-radius: 5px; background-color: white;}

.banner-form-section .form-wrapper label {display: none} 

.banner-form-section .form-wrapper .text-input {float: none; width: 100%!important}

.banner-form-section .form-wrapper span.blue {font-weight: 600; }

.banner-form-section .form-wrapper .text-input, .banner-form-section .form-wrapper textarea {font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 200;resize: none ;width: 100%!important; padding: 4px; margin-bottom: 10px; border: solid 1px #848484; border-radius: 5px}

.banner-form-section .form-wrapper p.light-grey {margin-bottom: 13px;}

.banner-form-section .form-wrapper .submit { transition: 0.3s ;color: white; background-color:#006EB7; font-family: 'Open Sans', sans-serif; font-weight: 800; padding: 7px 11px; border-radius: 5px;text-transform: uppercase; border: none; margin-top: 25px; display: block;}

.banner-form-section .form-wrapper .submit:hover {background-color: #151515; cursor: pointer; transition: 0.3s}

.banner-form-section .form-wrapper fieldset {max-width: none}

.banner-form-section .hs-error-msgs {display: none;}

.banner-form-section .checkbox {gap: 10px; color: #848484; margin-top: 1px;}

.banner-form-section .checkbox input {transform: scale(1.3)}


@media(max-width: 992px){

    .banner-form-section {background-position: 50%;}
    .banner-form-section .row .first-col .texts {width: 100%; text-align: center; max-width: none; padding: 40px 0;}

    .banner-form-section .row .first-col .texts span {margin: auto; margin-bottom: 25px;}

    .banner-form-section .row .col {width: 100%;}
  
  .banner-form-section .form-wrapper .actions {display: flex}
  
  .banner-form-section .form-wrapper .submit {margin: auto; margin-top: 20px;}

}

/* form section */

/* banner second section */

.banner-second-section {background-color: #151515; background-image: url('https://49171599.fs1.hubspotusercontent-na1.net/hubfs/49171599/Landing%20suscripcion%20newsletter/vector-form.png'); object-fit: cover; background-position: 107% 100%; background-repeat: no-repeat; background-size: 50%}



.banner-second-section h2 {color: white;}

.banner-second-section p {color: #d3d3d3;}

.banner-second-section .container {position: relative; padding: 122px 0;}

.banner-second-section .container .texts {width: 60%;}

.banner-second-section .container .texts h2 {margin: 25px 0;}


@media (max-width: 992px){
    .banner-second-section {background-image: none;}

    .banner-second-section .container {padding: 50px 0;}

    .banner-second-section .container .texts {width: 100%; text-align: center;}

    .banner-second-section .container .texts span {margin: auto;}
}



/* banner second section */

/* footer section */
.footer-section .container img {width: 60px; height: auto;}

.footer-section .banner-image {width: 100%;}

.footer-section .container {justify-content: center; padding: 53px 0;}

/* footer section */

@media(max-width: 992px){
    .header-section img {width: 220px; height: auto;}
    .footer-section .container img {width: 60px; height: auto;}
}

/* SIDEBAR */

.sidebar-social-networks-container {
    position: fixed;
    right: 0;
    top: calc(50vh - 80px);
    z-index: 999999;
}

.sidebar-social-networks-container ul a {
    display: block;
    width: 45px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
}

.sidebar-social-networks-container ul {list-style: none;}

.sidebar-social-networks-container ul li:first-child a {
    border-top-left-radius: 10px;
    color: white;
    box-shadow: -1px -1px 0 0px #ffffff61;
}

.sidebar-social-networks-container ul li a {
    color: white;
    box-shadow: -1px 1px 0 0px #ffffff61;
}



.sidebar-social-networks-container ul li:last-child a {
    border-bottom-left-radius: 10px;
    color: white;
    box-shadow: -1px 1px 0 0px #ffffff61;
}



